@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.divWithCurve {
  width: 14px;
  height: 14px;
  background-color: #7b10f5;
  clip-path: circle(99% at 0 0);
}
